services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: "${DB_NAME}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - db-Postgres:/var/lib/postgresql/data
    ports:
      - "${DB_PORT:-5432}:5432"
    networks:
      - bmg_network

  migrationsapi:
    container_name: MigrationsApi
    image: mcr.microsoft.com/dotnet/sdk:9.0
    volumes:
      - ./src:/app
    working_dir: /app
    command: >
      sh -c "dotnet restore /app/Migrations/Migrations.Api && dotnet build /app/Migrations/Migrations.Api && cd /app && dotnet Migrations/Migrations.Api/bin/Debug/net9.0/Migrations.Api.dll"
    networks:
      - bmg_network
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Server=${DB_HOST:-postgres};Port=5432;Database=${DB_NAME};Pooling=true;User Id=${DB_USER};Password=${DB_PASSWORD}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Secret=${JWT_SECRET}
      - SERILOG_SEQ_URL=http://seq:80
    depends_on:
      - postgres

  usersapi:
    container_name: UsersApi
    image: mcr.microsoft.com/dotnet/sdk:9.0
    volumes:
      - ./src:/app
    working_dir: /app
    command: >
      sh -c "cd /app/Users/Users.Api && dotnet build && cd /app && dotnet Users/Users.Api/bin/Debug/net9.0/Users.Api.dll"
    ports:
      - "5095:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Server=${DB_HOST:-postgres};Port=5432;Database=${DB_NAME};Pooling=true;User Id=${DB_USER};Password=${DB_PASSWORD}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Secret=${JWT_SECRET}
      - SERILOG_SEQ_URL=http://seq:80
    networks:
      - bmg_network
    depends_on:
      - migrationsapi

  propostaapi:
    container_name: PropostaApi
    image: mcr.microsoft.com/dotnet/sdk:9.0
    volumes:
      - ./src:/app
    working_dir: /app
    command: >
      sh -c "cd /app/Proposta/Proposta.Api && dotnet build && cd /app && dotnet Proposta/Proposta.Api/bin/Debug/net9.0/Proposta.Api.dll"
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Server=${DB_HOST:-postgres};Port=5432;Database=${DB_NAME};Pooling=true;User Id=${DB_USER};Password=${DB_PASSWORD}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Secret=${JWT_SECRET}
      - SERILOG_SEQ_URL=http://seq:80
    networks:
      - bmg_network
    depends_on:
      - migrationsapi

  contratacaoapi:
    container_name: ContratacaoApi
    image: mcr.microsoft.com/dotnet/sdk:9.0
    volumes:
      - ./src:/app
    working_dir: /app
    command: >
      sh -c "cd /app/Contratacao/Contratacao.Api && dotnet build && cd /app && dotnet Contratacao/Contratacao.Api/bin/Debug/net9.0/Contratacao.Api.dll"
    ports:
      - "5003:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__DefaultConnection=Server=${DB_HOST:-postgres};Port=5432;Database=${DB_NAME};Pooling=true;User Id=${DB_USER};Password=${DB_PASSWORD}
      - Jwt__Issuer=${JWT_ISSUER}
      - Jwt__Audience=${JWT_AUDIENCE}
      - Jwt__Secret=${JWT_SECRET}
      - SERILOG_SEQ_URL=http://seq:80
    networks:
      - bmg_network
    depends_on:
      - migrationsapi

  mongodb:
    container_name: mongodb
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${DB_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - db-mongo:/data/db
    ports:
      - "27017:27017"
    networks:
      - bmg_network

  seq:
    container_name: serilog_seq
    image: datalust/seq:latest
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=true
    ports:
      - "5341:80"
    volumes:
      - seq-data:/data
    networks:
      - bmg_network

networks:
  bmg_network:

volumes:
  db-Postgres:
  db-mongo:
  seq-data: